.note-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--note_background_color);
    color: var(--note_text_color);
    font-size: var(--note_font_size);
    border-radius: 0.3em;
    padding: 0.3em;
    font-family: "Noto Sans", system-ui;
}

.note {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: flex-start;
    width: 100%;
}

.note .paragraph {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

.note .list {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

.note-meta {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    gap: 0.3em;
}

.note .link {
    color: var(--note_link_color);
}

.note .incline-code {
    font-family: "JetBrains Mono", monospace;
    cursor: pointer;
    background-color: #2d4042;
}

.note .incline-code:hover {
    background-color: var(--note-inline-background-color);
}

.note .incline-code:active {
    background-color: var(--note_link_color);
}

.note .quote {
    padding-left: 0.5em;
    border-left: 2px solid var(--note_quote_text_color);
    color: var(--note_quote_text_color);
    font-size: 0.85em;
}

.note .text {
    word-break: break-word;
    white-space: pre-wrap;
}

.note .br {
    border: 1px solid var(--note_text_color);
    width: 100%;
    height: 0;
    content: " ";
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.note-container .note-time {
    font-size: calc(var(--note_font_size) - 0.3em);
    color: var(--note-time-label-text-color);
    text-wrap: nowrap;
}

.note-tools {
    display: inline-flex;
    gap: 0.2em;
    justify-content: flex-start;
    align-items: center;
}

.note-meta .note-tools {
    visibility: hidden;
}

.note-meta:hover .note-tools {
    visibility: visible;
}

.table-cell {
    padding: 0.2em;
}

.table-header {
    font-weight: bold;
}

.table,
.table-cell,
.table-header {
    border: 2px solid var(--note-table-border-color);
    border-collapse: collapse;
}

.note .code-block-wrapper > pre {
    margin: 0;
    padding: 0.3em;
}

.note .note-code-block {
    background-color: var(--note-code-block-background-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    border-radius: 0.2em;
    width: fit-content;
}

.note .note-code-block .note-code-block-meta {
    width: calc(100% - 0.4em);
    padding: 0.2em;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.note .note-code-block .note-code-block-meta button {
    font-size: 0.8em;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 0.2em;
    color: var(--note_text_color);
}

.note .note-code-block .note-code-block-meta button:hover {
    cursor: pointer;
    border: 2px solid var(--note_text_color);
    transition: 0.1s;
}

.note .note-image {
    max-width: 100%;
    height: auto;
}

.note .note-image:hover {
    cursor: pointer;
}
