
.notes {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: space-between;
    background-color: var(--notes_background_color);
    border-right: 1px solid var(--notes_border_color);
    border-left: 1px solid var(--notes_border_color);
    height: 100%;
}

.notes-inner {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: flex-end;
}
