/*
    The default "theme" or default CSS colors.
    If the user will not provide a theme.toml or it will be corrupted,
    then these values will be used.
*/

body {
    --notes_background_color: #18191d;
    --notes_border_color: #18191d;

    --profile_background_color: #282e33;
    --spaces_background_color: #282e33;

    --spaces_tools_background_color: #3d444b;
    --spaces_tools_text_color: #c6c4af;

    --messages_info_background_color: #282e33;
    --messages_info_text_color: #ababad;

    --messages_editor_background_color: #282e33;
    --messages_editor_text_color: #ababad;

    --note_background_color: #2a2f33;
    --note_text_color: #e0e0e7;
    --note_quote_text_color: #bcbcc2;
    --note_font_size: 1em;
    --note_link_color: #35c9a2;

    --spaces_font_size: 1.3em;
    --space_background_color: #282e33;
    --space_text_color: #e0e0e7;
    --space_hover_background_color: #3c4449;
    --space_selected_background_color: #35c9a2;

    --input-border-color: #777783;
    --input-background-color: #ababad;
    --input-text-color: #282e33;

    --tools-button-hover: #282e33;
    --button-cancel-color: #ababad;
    --button-ok-background-color: #ababad;
    --button-ok-text-color: #282e33;
    --button-ok-outline-color: #777783;

    --tools-panel-height: 2.5em;

    --confirm-background-color: #3c4449;
    --confirm-text-color: #e0e0e7;
    --confirm-ok-button-background-color: #35c9a2;
    --confirm-ok-button-text-color: #e0e0e7;
    --confirm-cancel-button-background-color: #ababad;
    --confirm-cancel-button-text-color: #282e33;
}