
.spaces-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 0;
    background-color: var(--spaces_background_color);
    height: 100vh;
    max-width: 30%;
}
