
.spaces {
    padding-top: 0.3em;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.space {
    display: inline-flex;
    gap: 0.3em;
    padding: 0.3em;
    font-size: var(--spaces_font_size);
    transition: all 0.2s;
}

.simple-space {
    color: var(--space_text_color);
    background-color: var(--space_background_color);
}

.simple-space:hover {
    cursor: pointer;
    background-color: var(--space_hover_background_color);
}

.selected-space {
    color: var(--space_text_color);
    background-color: var(--space_selected_background_color);
}

.selected-space:hover {
    cursor: pointer;
    background-color: var(--space_selected_background_color);
}

.space .space-title {
    align-self: center;
}

.space .space-avatar {
    border-radius: 0.4em;
    height: 2em;
    width: auto;
}
