
.spaces {
    padding-top: 0.3em;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.space {
    display: inline-flex;
    gap: 0.3em;
    padding: 0.3em;
    font-size: var(--spaces_font_size);
    transition: all 0.2s;
}

.simple-space {
    color: var(--space_text_color);
    background-color: var(--space_background_color);
}

.simple-space:hover {
    cursor: pointer;
    background-color: var(--space_hover_background_color);
}

.selected-space {
    color: var(--space_text_color);
    background-color: var(--space_selected_background_color);
}

.selected-space:hover {
    cursor: pointer;
    background-color: var(--space_selected_background_color);
}

.space .space-title {
    align-self: center;
    width: 100%;
    text-overflow: ellipsis;
}

.space .space-avatar {
    border-radius: 0.4em;
    height: 2em;
    width: auto;
}

.create-space-window {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 0.4em;
    width: 30%;
    background-color: var(--spaces_background_color);
    border-radius: 0.5em;
}

.create-space-title {
    font-size: 1.5em;
}

.create-space-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.2em;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.create-space-avatar {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    justify-content: center;
    align-items: center;
}

.create-space-avatar-img {
    border-radius: 0.5em;
    height: 4em;
    width: 4em;
}
