body {
    margin: 0;
    padding: 0;
    height: 100vh;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1 {
    font-size: 2em;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

h2 {
    font-size: 1.5em;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

h3 {
    font-size: 1.17em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

h4 {
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
}

.app {
    display: flex;
    gap: 0;
    padding: 0;
    margin: 0;
    height: 100%;
}

.horizontal {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    gap: 0.2em;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.vertical {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    gap: 0.2em;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.center-span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: crosshair;
}

.icons-by-icons8 {
    width: 100%;
    text-align: center;
    display: block;
    color: var(--space_text_color);
    border-top: 1px solid var(--notes_border_color);
    padding-top: 0.4em;
}

.icons-by-icons8 a {
    color: inherit;
    text-decoration: underline;
    padding: 0 0.2em 0 0.2em;
    border-radius: 0.2em;
    transition: all 0.2s;
}

.icons-by-icons8 a:hover {
    background-color: #50437f;
    color: #dbcfbf;
    cursor: pointer;
}
