
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0.3, 0.3, 0.3, 0.7);
    z-index: 2;
}
