
.notes-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: space-between;
    background-color: var(--notes-background-color);
    border-right: 2px solid var(--notes-border-color);
    border-left: 2px solid var(--notes-border-color);
    max-height: 100vh;
    flex-grow: 1;
}

.notes-inner {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: flex-end;
    overflow-y: auto;
    scroll-behavior: smooth;
    flex-grow: 1;
}

.notes {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 0.3em;
    padding: 0.3em;
    overflow-y: auto;
    scroll-behavior: smooth;
}
