.spaces-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 0;
    background-color: var(--spaces-background-color);
    height: 100vh;
    max-width: 20%;
}

.spaces-scroll-area {
    overflow-y: auto;
    overflow-x: clip;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 0;
}
