.resizable-textarea {
    margin: 0;
    width: inherit;
    font-size: 0.9em;
    flex-grow: 1;
}

.resizable-textarea .resizable-textarea-text-container {
    padding: 0.7em;
}

.resizable-textarea .resizable-textarea-textarea {
    background-color: var(--messages-editor-background-color);
    color: var(--note-text-color);
    width: 100%;
    min-height: 1em;
    border: none;
    outline: none;
    resize: vertical;
    line-height: 1.3;
}
