
.editor-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    border-top: 3px solid var(--notes-background-color);
    background-color: var(--messages-editor-background-color);
    color: var(--messages-editor-text-color);
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.editor-meta {
    width: 100%;
    display: flex;
    gap: 0.2em;
    justify-content: flex-end;
    align-items: center;
}

.files-container {
    display: flex;
    gap: 0.2em;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
}

.files-file {
    padding: 0.2em;
    font-size: 0.9em;
    border-radius: 0.2em;
    background-color: var(--note-link-color);
    color: var(--note-inline-background-color);
    display: inline-flex;
    gap: 0.1em;
    justify-content: flex-start;
    align-items: center;
}

.files-file:hover .files-file-icon {
    display: none;
}

.files-file .files-file-icon {
    height: 1.5em;
}

.files-file:hover .files-file-cancel {
    display: inline-block;
}

.files-file .files-file-cancel {
    height: 1.5em;
    display: none;
}

.files-file-cancel:hover {
    cursor: pointer;
}

.note-file-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.3em;
    font-size: 0.9em;
    width: max-content;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--note-background-color);
    border: 2px solid var(--note-table-border-color);
    border-radius: 0.3em;
    transition: all 0.4s;
}

.note-file-options-icon {
    height: 1.2em;
}

.note-file-options-item {
    background-color: transparent;
    padding: 0.2em;
    margin: 0;
    display: inline-flex;
    gap: 0.3em;
    color: var(--note-text-color);
    border: none;
    align-items: center;
}

.note-file-options-item:hover {
    cursor: pointer;
    background-color: var(--note-table-border-color);
}

.note-file-options-trigger {
    background-color: transparent;
    height: 1.6em;
    padding: 0.2em 0 0.2em 0;
    border-radius: 0.2em;
    border: 1px solid transparent;
    transition: 0.1s;
}

.note-file-options-trigger:hover {
    cursor: pointer;
    transition: 0.1s;
    background-color: var(--note-table-border-color);
}

.note-file-options-trigger img {
    height: 100%;
    width: auto;
}

.note-file-options-trigger img:hover {
    cursor: pointer;
}