
.editor-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    border-top: 3px solid var(--notes-background-color);
    background-color: var(--messages-editor-background-color);
    color: var(--messages-editor-text-color);
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.editor-meta {
    width: 100%;
    display: flex;
    gap: 0.2em;
    justify-content: flex-end;
    align-items: center;
}

.files-container {
    display: flex;
    gap: 0.2em;
    flex-wrap: wrap;
    flex-grow: 1;
}

.files-file {
    padding: 0.2em;
    margin: 0.15em;
    font-size: 0.9em;
    border-radius: 0.2em;
    background-color: var(--editor-file-background-color);
    display: inline-flex;
    gap: 0.1em;
    justify-content: flex-start;
    align-items: center;
}

.files-file:hover .files-file-icon {
    display: none;
}

.files-file .files-file-icon {
    height: 1.2em;
}

.files-file:hover .files-file-cancel {
    display: inline-block;
}

.files-file .files-file-cancel {
    height: 1.2em;
    display: none;
}

.files-file-cancel:hover {
    cursor: pointer;
}
