.app-into-window {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 0.2em;
    padding: 0.5em;
    border-radius: 0.5em;
    color: var(--note-text-color);
    background-color: var(--note-background-color);
    position: relative;
}

.app-into-window a {
    color: inherit;
    text-decoration: underline;
    padding: 0 0.2em 0 0.2em;
    border-radius: 0.2em;
    transition: all 0.2s;
}

.app-into-window a:hover {
    background-color: var(--app-info-window-background-color);
    color: var(--app-info-window-text-color);
    cursor: pointer;
}

.app-into-window .app-into-window-title {
    width: 100%;
    text-align: center;
    font-size: 1.3em;
}

.app-window-close-button {
    top: 0.2em;
    right: 0.2em;
    position: absolute;
}

.app-into-window table,
th,
td {
    border: 1px solid #dbcfbf;
    border-collapse: collapse;
}

.app-into-window table {
    font-size: 0.9em;
    width: 100%;
}

.app-into-window td,
th {
    padding: 0.2em;
}

.app-into-window-data-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
