
.app-into-window {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 0.2em;
    padding: 0.5em;
    border-radius: 0.5em;
    color: var(--note_text_color);
    background-color: var(--note_background_color);
    position: relative;
}

.app-into-window a {
    color: inherit;
    text-decoration: underline;
    padding: 0 0.2em 0 0.2em;
    border-radius: 0.2em;
    transition: all 0.2s;
}

.app-into-window a:hover {
    background-color: #50437f;
    color: #dbcfbf;
    cursor: pointer;
}

.app-into-window .app-into-window-title {
    width: 100%;
    text-align: center;
    font-size: 1.3em;
}

.app-window-close-button {
    top: 0.2em;
    right: 0.2em;
    position: absolute;
}