.spaces {
    padding-top: 0.3em;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.space {
    display: inline-flex;
    gap: 0.3em;
    padding: 0.3em;
    font-size: var(--spaces-font-size);
    transition: all 0.2s;
    align-items: center;
}

.simple-space {
    color: var(--space-text-color);
    background-color: var(--space-background-color);
}

.simple-space:hover {
    cursor: pointer;
    background-color: var(--space-hover-background-color);
}

.selected-space {
    color: var(--space-text-color);
    background-color: var(--space-selected-background-color);
}

.selected-space:hover {
    cursor: pointer;
    background-color: var(--space-selected-background-color);
}

.space .space-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.space .space-avatar {
    border-radius: 0.4em;
    height: 2em;
    width: auto;
}

.create-space-window {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 0.4em;
    width: 30%;
    background-color: var(--profile-background-color);
    border-radius: 0.5em;
}

.create-space-title {
    font-size: 1.5em;
}

.create-space-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.2em;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.create-space-avatar {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    justify-content: center;
    align-items: center;
}

.create-space-avatar-img {
    border-radius: 0.5em;
    height: 4em;
    width: 4em;
}

.note-search-options {
    display: flex;
    flex-direction: column;
}

.note-search-label {
    background-color: var(--search-note-label-background-color);
    color: var(--search-note-label-text-color);
    padding: 0 0.2em 0 0.2em;
    text-align: center;
}
