.tools {
    background-color: var(--spaces-tools-background-color);
    border-bottom: 2px solid var(--notes-border-color);
    color: var(--spaces-tools-text-color);
    display: flex;
    flex-wrap: wrap;
    padding: 0.2em;
    gap: 0.2em;
    justify-content: space-between;
    align-items: center;
    min-height: var(--tools-panel-height);
}

.tools-vertical {
    flex-direction: column;
    justify-content: center;
}

.tool {
    background-color: transparent;
    height: 2em;
    padding: 0.2em;
    border-radius: 0.2em;
    border: 1px solid transparent;
    transition: 0.1s;
}

.tool:hover {
    cursor: pointer;
    transition: 0.1s;
    background-color: var(--tools-button-hover);
    border-color: var(--spaces-tools-border-color);
}

.tool img {
    height: 100%;
    width: auto;
}

.tool img:hover {
    cursor: pointer;
}

.input {
    border-radius: 3px;
    margin: 0;
    padding: 0.2em;
    transition: all 0.2s;
    border: 3px solid transparent;
    background: var(--input-background-color);
    /*width: inherit;*/
    color: var(--input-text-color);
}

.input:focus {
    border-color: var(--input-border-color);
    outline: none;
}

.button_ok {
    height: 2em;
    padding: 0.2em;
    margin: 0;
    border-radius: 0.3em;
    border: 2px solid transparent;
    transition: 0.15s;
    background: var(--button-ok-background-color);
    color: var(--button-ok-text-color);
}

.button_ok:hover {
    cursor: pointer;
    border: 2px solid var(--button-ok-outline-color);
}

.button_cancel {
    padding: 0.2em;
    margin: 0;
    border: 2px solid transparent;
    border-radius: 0.2em;
    transition: 0.15s;
    background-color: transparent;
    color: var(--button-cancel-color);
}

.button_cancel:hover {
    cursor: pointer;
    border: 2px solid var(--button-cancel-color);
}
